@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #e4e4e4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
}

@layer components {
  .player-closed .blog-list-item {
    @apply sm:flex-row; 
    @apply 600mq:flex-row;
  }

  .player-open .blog-list-item {
    /* TODO: two columns for 600-900px */
    /* @apply 600mq:flex-col 600mq:w-1/2; */
    @apply 600mq:flex-col;
    @apply 900mq:flex-col 900mq:w-auto;
    @apply 1250mq:flex-row 1250mq:gap-8;
  }

  .player-closed .blog-list-item .blog-thumbnail-container {
    @apply sm:w-[250px];
    @apply 600mq:w-[250px];
  }

  .player-open .blog-list-item .blog-thumbnail-container {
    @apply 1250mq:w-[250px];
  }
}
